<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fancy app title</title>
</head>
<body>
  <div ng-app="musicApp">

    <div ng-controller="FirstCtrl">
      <h2>First controller example, output strings:</h2>
      <input type="text" ng-model="data.message">
      <p>{{data.message}}</p>
      <p>Kaixo model message: {{kaixo.message}}</p>
      <p>Hola model message: {{hola.message}}</p>
    </div>

    <div ng-controller="SecondCtrl">
      <h2>Second controller example, return reversed data.message  </h2>
      <p>Reversed message here: {{reversedMessage(data.message)}}</p>
    </div>

    <div ng-controller="DiscographyCtrl">
      <h2>Looping through a static object:</h2>
      <ul>
        <li ng-repeat="song in songs">{{song.title}}, in album {{song.album}}</li>
      </ul>
    </div>

    <div ng-controller="JSONPctrl">
      <h2>Example of results retrieved through jsonp:</h2>
      <li ng-repeat="result in results"> {{result.title.$t}} </li>

    </div>
  </div>
  <script src="js/angular.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
