<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fancy app title</title>
</head>
<body>
  <h1>Rock on</h1>
  <div ng-app="musicApp">
    <div ng-controller="FirstCtrl">
      <input type="text" ng-model="data.message">
      <h2>{{data.message}}</h2>
      <h3>Kaixo model message: {{kaixo.message}}</h3>
      <h3>Hola model message: {{hola.message}}</h3>
    </div>
    <div ng-controller="SecondCtrl">
      <input type="text" ng-model="data.message">
      <!-- <h2>{{data.message}}</h2> -->
      <h2>Reversed message here: {{reversedMessage(data.message)}}</h2>
    </div>
  </div>
  <script src="js/angular.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
